* {
    margin: 0;
    padding: 0;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    background: rgb(82, 97, 112);
    background: linear-gradient(90deg, rgba(82, 97, 112, 1) 0%, rgba(30, 167, 149, 1) 100%);
}

i {
    opacity: 0;
    font-size: 28px;
    color: #1F1E1E;
    will-change: transform;
    -webkit-transform: scale(.1);
    transform: scale(.1);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.btn_wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    width: 240px;
    height: 72px;
    background-color: #EEEEED;
    border-radius: 80px 40px;
    padding: 0 18px;
    will-change: transform;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.btn_wrap:hover {
    /* transition-delay: .4s; */
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

span {
    position: absolute;
    z-index: 99;
    width: 240px;
    height: 72px;
    border-radius: 80px 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 70px;
    letter-spacing: 2px;
    color: white;
    background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
    padding: 0 18px;
    -webkit-transition: all 1.2s ease;
    transition: all 1.2s ease;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 240px;
    height: 64px;
    border-radius: 80px 40px;
    margin: 10px 10px 5px 10px;
}

.container i:nth-of-type(1) {
    -webkit-transition-delay: 1.1s;
    transition-delay: 1.1s;
}

.container i:nth-of-type(2) {
    -webkit-transition-delay: .9s;
    transition-delay: .9s;
}

.container i:nth-of-type(3) {
    -webkit-transition-delay: .7s;
    transition-delay: .7s;
}

.container i:nth-of-type(4) {
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}

.btn_wrap:hover span {
    -webkit-transition-delay: .25s;
    transition-delay: .25s;
    -webkit-transform: translateX(-280px);
    transform: translateX(-280px)
}

.btn_wrap:hover i {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.dr {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 100px;
}

img {
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px
}